*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

i {
  height: 1.5rem;
  width: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit;
}

@media (max-width: 52.25em) {
  i {
    height: 1rem;
    width: 1rem;
  }
}

svg {
  height: 100%;
  width: 100%;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
}

.shared-cta-button {
  height: 4.75rem;
  width: 17.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 52.25em) {
  .shared-cta-button {
    width: 9.5rem;
    height: 2.75rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  position: relative;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

i {
  height: 1.5rem;
  width: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit;
}

@media (max-width: 52.25em) {
  i {
    height: 1rem;
    width: 1rem;
  }
}

svg {
  height: 100%;
  width: 100%;
  color: inherit;
}

img {
  height: 100%;
  width: 100%;
}

.shared-cta-button,
.main__valuations-cta a,
.header__cta,
.header__hero div a {
  height: 4.75rem;
  width: 17.5rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 52.25em) {

  .shared-cta-button,
  .main__valuations-cta a,
  .header__cta,
  .header__hero div a {
    width: 9.5rem;
    height: 2.75rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
  }
}

.main__valuations-cta a,
.header__cta a,
.header__hero div a:nth-of-type(1) {
  background-color: #6FC247;
  color: #fff;
  gap: 1rem;
}

@media (max-width: 52.25em) {

  .main__valuations-cta a,
  .header__cta a,
  .header__hero div a:nth-of-type(1) {
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
  }
}

.header__top {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 5;
  padding: 2rem 6.5rem;
  -webkit-box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0.25rem 0.25rem rgba(0, 0, 0, 0.05);
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-backdrop-filter: blur(0.5rem);
  backdrop-filter: blur(0.5rem);
}

@media (max-width: 89.75em) {
  .header__top {
    padding: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .header__top {
    padding: 1rem;
  }
}

.header__top-wrapper {
  width: min(94.5em, 100%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header__logo {
  cursor: pointer;
  width: 10.5rem;
  height: 1.5rem;
}

@media (max-width: 52.25em) {
  .header__logo {
    width: 7.25rem;
    height: 1rem;
  }
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 89.75em) {
  .header__nav {
    display: none;
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.25rem;
}

.header__nav a {
  gap: 1rem;
}

.header__nav a.active span,
.header__nav a:hover span,
.header__nav a:focus span {
  color: #065666;
}

.header__nav span {
  font-weight: 700;
  font-size: 1.25rem;
  color: #636363;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media (max-width: 89.75em) {
  .header__nav.active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100svh;
    width: 100%;
    position: absolute;
    top: 7rem;
    left: 0;
    background-color: rgb(255, 255, 255);
    -webkit-backdrop-filter: blur(0.75rem);
    backdrop-filter: blur(0.75rem);
    padding-top: 5rem;
    border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
  }

  .header__nav.active ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: inherit;
    padding-inline: 2rem;
  }
}

@media (max-width: 52.25em) {
  .header__nav.active {
    top: 3.5rem;
    padding-top: 2rem;
  }
}

.header__cta:hover {
  -webkit-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

@media (max-width: 89.75em) {
  .header__cta {
    display: none;
  }
}

.header__cta span {
  font-size: 1.25rem;
  font-weight: 700;
}

.header__hamburger {
  display: none;
}

@media (max-width: 89.75em) {
  .header__hamburger {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .header__hamburger i {
    height: 2rem;
    width: 2rem;
  }
}

@media (max-width: 52.25em) {
  .header__hamburger i {
    height: 1.5rem;
    width: 1.5rem;
  }
}

.header__bottom {
  margin: 12.5rem 17rem 4rem 17rem;
}

@media (max-width: 89.75em) {
  .header__bottom {
    margin: 10.5rem 2.5rem 4rem 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .header__bottom {
    margin: 6.5rem 2rem 2.5rem 2rem;
  }
}

.header__hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 89.75em) {
  .header__hero {
    gap: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .header__hero {
    gap: 1.5rem;
  }
}

.header__hero h1,
.header__hero p {
  text-align: center;
  width: min(60.5rem, 100%);
}

@media (max-width: 89.75em) {

  .header__hero h1,
  .header__hero p {
    width: min(47rem, 100%);
  }
}

@media (max-width: 52.25em) {

  .header__hero h1,
  .header__hero p {
    width: 20.5rem;
  }
}

.header__hero h1 {
  text-transform: capitalize;
  line-height: 5.5rem;
  font-weight: 800;
  font-size: 4rem;
}

@media (max-width: 89.75em) {
  .header__hero h1 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
}

@media (max-width: 52.25em) {
  .header__hero h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
}

.header__hero p {
  font-weight: 500;
  font-size: 1.5rem;
}

@media (max-width: 89.75em) {
  .header__hero p {
    font-size: 1.25rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .header__hero p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.header__hero div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 89.75em) {
  .header__hero div {
    margin-top: 1.5rem;
  }
}

@media (max-width: 52.25em) {
  .header__hero div {
    margin-top: 0.5rem;
    gap: 1.5rem;
  }
}

.header__hero div a:hover {
  -webkit-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.header__hero div a:nth-of-type(2) {
  border: 0.0625rem solid #6FC247;
}

.header__hero div a:nth-of-type(2) span {
  color: #6FC247;
}

.header__hero div a span {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 52.25em) {
  .header__hero div a span {
    font-size: 0.875rem;
  }
}

.main__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main__image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: min(78.75rem, 100%);
  height: 40rem;
}

@media (max-width: 89.75em) {
  .main__image {
    width: min(47rem, 100%);
    height: 24rem;
  }
}

@media (max-width: 52.25em) {
  .main__image {
    width: min(20.5rem, 100%);
    height: 10.5rem;
  }
}

.main__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.main__trusted {
  margin-block: 7.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 2rem;
}

@media (max-width: 89.75em) {
  .main__trusted {
    margin: 1.5rem 0 7.5rem 0;
    gap: 3.75rem;
  }
}

@media (max-width: 52.25em) {
  .main__trusted {
    margin-bottom: 4rem;
    gap: 5.75rem;
  }
}

.main__trusted-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.main__trusted-top h3 {
  font-weight: 800;
  font-size: 2rem;
}

@media (max-width: 89.75em) {
  .main__trusted-top h3 {
    font-weight: 700;
    font-size: 1.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__trusted-top h3 {
    font-size: 1.25rem;
  }
}

.main__trusted-top p {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 89.75em) {
  .main__trusted-top p {
    line-height: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__trusted-top p {
    line-height: 2rem;
  }
}

.main__trusted-top h3,
.main__trusted-top p {
  width: 66.5rem;
  text-align: center;
}

@media (max-width: 89.75em) {

  .main__trusted-top h3,
  .main__trusted-top p {
    width: min(47rem, 100%);
  }
}

@media (max-width: 52.25em) {

  .main__trusted-top h3,
  .main__trusted-top p {
    width: min(20.5rem, 100%);
  }
}

.main__trusted-bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.125rem 1fr 1.125rem 1fr 1.125rem 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1.125rem;
}

@media (max-width: 89.75em) {
  .main__trusted-bottom {
    -ms-grid-columns: 1fr 0.75rem 1fr 0.75rem 1fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem 0.75rem;
  }
}

@media (max-width: 52.25em) {
  .main__trusted-bottom {
    -ms-grid-columns: 1fr 0.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem 0.5rem;
  }
}

.main__trusted-bottom span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 7.25rem;
  width: 19.25rem;
  overflow: hidden;
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  background-color: #f9f9f9;
}

@media (max-width: 89.75em) {
  .main__trusted-bottom span {
    height: 5rem;
    width: 13.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__trusted-bottom span {
    height: 4rem;
    width: 10rem;
  }
}

.main__trusted-bottom span:hover {
  -webkit-box-shadow: 0 0 1rem 0.75rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 1rem 0.75rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 1rem 0.75rem rgba(0, 0, 0, 0.05);
  scale: 1.02;
}

.main__trusted-bottom span img {
  -o-object-fit: contain;
  object-fit: contain;
}

.main__trusted-bottom span:nth-of-type(3) img {
  width: 80%;
  padding-right: 0.5rem;
}

.main__trusted-bottom span:nth-of-type(6) img {
  width: 80%;
}

.main__trusted-bottom span:nth-of-type(12) img {
  scale: 2;
}

.main__trusted-bottom span:nth-of-type(1) img,
.main__trusted-bottom span:nth-of-type(4) img {
  width: 75%;
}

.main__trusted-bottom span:nth-of-type(2) img,
.main__trusted-bottom span:nth-of-type(7) img {
  scale: 1.75;
}

.main__trusted-bottom span:nth-of-type(5) img,
.main__trusted-bottom span:nth-of-type(10) img,
.main__trusted-bottom span:nth-of-type(11) img {
  scale: 1.25;
}

.main__why {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
  background-color: #111111;
  padding: 4.5rem 6.5rem;
  width: 100%;
}

@media (max-width: 89.75em) {
  .main__why {
    padding: 4rem 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__why {
    padding-inline: 2rem;
  }
}

.main__why h3 {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
}

@media (max-width: 89.75em) {
  .main__why h3 {
    font-size: 1.5rem;
  }
}

.main__why>p {
  color: #d7d7d7;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 89.75em) {
  .main__why>p {
    line-height: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__why>p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.main__why h3,
.main__why>p {
  width: min(55.75rem, 100%);
  text-align: center;
}

@media (max-width: 89.75em) {

  .main__why h3,
  .main__why>p {
    width: min(47rem, 100%);
  }
}

@media (max-width: 52.25em) {

  .main__why h3,
  .main__why>p {
    width: min(20.5rem, 100%);
  }
}

.main__why ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 3.75rem;
  margin-top: 3rem;
}

@media (max-width: 89.75em) {
  .main__why ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 2.5rem;
    width: 100%;
    width: min(47rem, 100%);
  }
}

@media (max-width: 52.25em) {
  .main__why ul {
    width: min(20.5rem, 100%);
  }
}

.main__why li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #d7d7d7;
  gap: 1.5rem;
  width: min(24.75rem, 100%);
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 89.75em) {
  .main__why li {
    width: 100%;
    gap: 0.5rem;
  }
}

.main__why li p {
  width: inherit;
  color: #d7d7d7;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 89.75em) {
  .main__why li p {
    font-size: 1rem;
  }
}

.main__why h4 {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
}

@media (max-width: 89.75em) {
  .main__why h4 {
    font-size: 1.125rem;
    font-weight: 700;
  }
}

.main__valuations {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-block: 4.25rem;
  gap: 5rem;
}

@media (max-width: 89.75em) {
  .main__valuations {
    gap: 2rem;
    margin-top: 8.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__valuations {
    margin-top: 4rem;
    gap: 1rem;
  }
}

.main__valuations-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1rem;
}

.main__valuations-top h3 {
  font-weight: 800;
  font-size: 2rem;
}

@media (max-width: 89.75em) {
  .main__valuations-top h3 {
    font-size: 1.5rem;
  }
}

.main__valuations-top p {
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 89.75em) {
  .main__valuations-top p {
    line-height: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__valuations-top p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.main__valuations-top h3,
.main__valuations-top p {
  width: min(66.25rem, 100%);
  color: #373737;
  text-align: center;
}

@media (max-width: 89.75em) {

  .main__valuations-top h3,
  .main__valuations-top p {
    width: min(47rem, 100%);
  }
}

@media (max-width: 52.25em) {

  .main__valuations-top h3,
  .main__valuations-top p {
    width: min(20.5rem, 100%);
  }
}

.main__valuations-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5.25rem;
}

@media (max-width: 52.25em) {
  .main__valuations-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -moz-box-orient: vertical;
    -moz-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 3rem;
  }
}

.main__valuations-bottom ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5rem;
}

@media (max-width: 89.75em) {
  .main__valuations-bottom ul {
    gap: 4rem;
  }
}

.main__valuations-bottom li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 2rem;
  width: 29.75rem;
}

@media (max-width: 89.75em) {
  .main__valuations-bottom li {
    width: 20.5rem;
    padding: 0;
  }
}

.main__valuations-bottom h4 {
  font-weight: 800;
  font-size: 1.5rem;
}

@media (max-width: 89.75em) {
  .main__valuations-bottom h4 {
    font-weight: 700;
    font-size: 1.125rem;
  }
}

.main__valuations-bottom p {
  width: min(25.75rem, 100%);
  font-weight: 500;
  font-size: 1.25rem;
}

@media (max-width: 89.75em) {
  .main__valuations-bottom p {
    font-size: 1rem;
    line-height: 2rem;
  }
}

.main__valuations-bottom aside {
  height: 43.25rem;
  width: 45.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 89.75em) {
  .main__valuations-bottom aside {
    height: 40.25rem;
    width: 23rem;
  }
}

@media (max-width: 52.25em) {
  .main__valuations-bottom aside {
    height: 19.5rem;
    width: 20.5rem;
  }
}

.main__valuations-bottom img {
  -webkit-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
  -webkit-filter: grayscale(75%);
  filter: grayscale(75%);
  cursor: pointer;
  -o-object-fit: cover;
  object-fit: cover;
}

.main__valuations-bottom img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

@media (max-width: 89.75em) {
  .main__valuations-bottom img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.main__valuations-cta {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 89.75em) {
  .main__valuations-cta {
    margin-block: 2.5rem;
  }
}

@media (max-width: 52.25em) {
  .main__valuations-cta {
    margin-block: 4rem;
  }
}

.main__valuations-cta a:hover {
  -webkit-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.05);
}

.main__valuations-cta a span {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 52.25em) {
  .main__valuations-cta a span {
    font-size: 0.875rem;
  }
}
